body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#canvas-container {
    margin-top: 20px;
    position: relative;
}

#drawing-canvas, #image-canvas {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
}

/* z-index in this order so that drawing can be underneath the image */
#drawing-canvas {
    z-index: 1; 
}

#image-canvas {
    z-index: 2;
    pointer-events: none; /* this allows clicks to pass through */
}
